<% provide(:title, "Sign in") %>
<ul>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</ul>

<h1>BYU Dropbox</h1>

<center>
<div class="row">
  <div class="span6">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= form_for(:session, url: signin_path) do |f| %>

      <%= f.label :netid %>
      <%= f.text_field :netid %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <p>
        <p>
          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        </p>
      </p>
    <% end %>

    <p>Don't have a BYU NetId? <%= link_to "Sign up here!", "https://y.byu.edu/ae/prod/person/cgi/createNetId.cgi" %></p>
  </div>
</div>
</center>
