<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: signin_path) do |f| %>

      <%= f.label :netid %>
      <%= f.text_field :netid %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", "https://y.byu.edu/ae/prod/person/cgi/createNetId.cgi" %></p>
  </div>
</div>