  <% dirname = "/home/" %>
  <ol class="breadcrumb">
       <% id = "guest" %>
       <% if current_user != nil %>
         <% id = current_user.netid %>
       <% end %>
       <% dirname = dirname + id + "/" %>
       <li><a href=<%= dirname %>><%= id %></a></li>

       <% dirs = params[:dirs] %>
         <% if dirs != nil %>
         <% dirs.split('/').each do |dir| %>
           <% dirname = dirname + dir + "/" %>
           <li><a href=<%= dirname %>><%= dir %></a></li>
         <% end %>
       <% end %>
  </ol>


  <div style = "margin-left: 40px">
  <h3>File Upload</h3>
    <%= form_for :file_upload, :html => {:multipart => true} do |f| %>
    <div style="margin-bottom: 12px">
    <%= f.file_field :my_file %>
    </div>
    <div style="margin-bottom: 12px">
    <%= f.submit "Upload" %>
    </div>
  <% end %>
  </div>


  <div class="container">
  <table class="table">
    <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Uploaded</th>
            <th>Permissions</th>
          </tr>
        </thead>

        <tbody>
        <!---
        <% getFoldersFromDirectory(params[:dirs]).each do |file| %>
              <tr>
                <% if file.type == "folder" %>
                  <td><a href=<%= dirname + file.name %>><%= file.name -%></a></td>
                <% else %>
                  <td><a href=""><%= file.name -%></a></td>
                <% end %>
                <td><%= file.type -%></td>
                <td><%= file.modified -%></td>
                <td><%= file.permissions -%></td>
              </tr>
          <% end %>
        -->

        <% getFileItems().each do |file| %>
        <tr>
         <td><% if file.file_extension == "folder" %>
                  <a href=<%= dirname + file.name %>><%= file.name -%></a>
                <% else %>
                  <a href=""><%= file.name -%></a>
                <% end %></td>
                <td><%= file.file_extension -%></td>
                <td><%= file.updated_at -%></td>
                <td><%= file.permissions -%></td>
              </tr>
          <% end %>
        </tbody>
  </table>
  </div>
