  <% dirname = "/home/" %>
  <ol class="breadcrumb">
       <% if params[:id] == nil %>
         <% params[:id] = "guest" %>
       <% end %>
       <% dirname = dirname + params[:id] + "/" %>
       <li><a href=<%= dirname %>><%= params[:id] %></a></li>

       <% dirs = params[:dirs] %>
         <% if dirs != nil %>
         <% dirs.split('/').each do |dir| %>
           <% dirname = dirname + dir + "/" %>
           <li><a href=<%= dirname %>><%= dir %></a></li>
         <% end %>
       <% end %>
  </ol>

  <h3 style="margin-left: 147px">Upload File</h3>
  <input type = "file" name = "file_to_upload" size = 40 style="margin-left: 147px">

  <div class="container">
  <table class="table">
    <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Modified</th>
            <th>Permissions</th>
          </tr>
        </thead>

        <tbody>
          <% getFoldersFromDirectory(params[:dirs]).each do |file| %>
              <tr>
                <% if file.type == "folder" %>
                  <td><a href=<%= dirname + file.name %>><%= file.name -%></a></td>
                <% else %>
                  <td><%= file.name -%></td>
                <% end %>
                <td><%= file.type -%></td>
                <td><%= file.modified -%></td>
                <td><%= file.permissions -%></td>
              </tr>
          <% end %>
        </tbody>

        <!--
        <tbody>
          <tr>
            <td>CS 360 Study Guide</td>
            <td>Folder </td>
            <td>12/1/2013</td>
            <td>Read/Write</td>
          </tr>
          <tr>
            <td>Web Server</td>
            <td>Folder</td>
            <td>11/28/2013</td>
            <td>Read/Write</td>
          </tr>
          <tr>
            <td>ENGL 316 Notes</td>
            <td>File</td>
            <td>11/14/2013</td>
            <td>Read Only</td>
          </tr>
        </tbody>
        -->
  </table>
  </div>