  <% dirname = "/home/" %>
  <% params[:dirs]||="/" %>
  <% if signed_in? %>
    <ol class="breadcrumb">
         <% id = "guest" %>
         <% if current_user != nil %>
           <% id = current_user.netid %>
         <% end %>
         <% dirname = dirname + id + "/" %>
         <li><a href=<%= dirname %>><%= id %></a></li>

         <% dirs = params[:dirs] %>
           <% if dirs != nil %>
           <% dirs.split('/').each do |dir| %>
             <% dirname = dirname + dir + "/" %>
             <li><a href=<%= dirname %>><%= dir %></a></li>
           <% end %>
         <% end %>
    </ol>


    <div style = "margin-left: 40px">
    <table><tr>
    <td>
    <h3>File Upload</h3>
      <%= form_for :file_upload, :url => "/dropbox/index", :html => {:multipart => true} do |f| %>
      <div style="margin-bottom: 12px">
      <%= f.file_field :my_file %>
      </div>
      <%= f.hidden_field :path, :value => params[:dirs] %>
      <div style="margin-bottom: 12px">
      <%= f.submit "Upload" %>
      </div>
    <% end %>
    </td>
    <td align="top">
  	  <h3>Add Directory</h3>
  	    <form action="/dropbox/createDirectory" method="post">
  	      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  	      <input type="text" name="dir" />
  	      <input type="hidden" name="path" value=<%= params[:dirs] %> /><br>
  	      <button type="upload-doc-button" class="btn btn-default" style="margin-top:8px;">Submit</button>
  	    </form>
    </td>
    </div>
    
    </tr></table>

    <div class="container">
    <table class="table">
      <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Uploaded</th>
              <th>Permissions</th>
            </tr>
          </thead>

          <tbody>
          
          <% if current_user != nil %>
          <% getFoldersFromDirectory(params[:dirs]).each do |file| %>
          <tr>
           <td><% if file.file_extension == "folder" %>
                    <a href=<%= dirname + file.name %>><%= file.name -%></a>
                  <% else %>
                    <a href= "" ><%= file.name -%></a>
                  <% end %></td>
                  <td><%= file.file_extension -%></td>
                  <td><%= file.updated_at -%></td>
                  <td><%= file.permissions -%></td>
                </tr>
                <% end %>
            <% end %>
          </tbody>
    </table>
    </div>
  <% else %>
    <h1>Please Signin to View Your Documents</h1>
  <% end %>
