  <% dirname = "/shared/" %>
  <ol class="breadcrumb">
       <% if params[:id] == nil %>
         <% params[:id] = "guest" %>
       <% end %>
       <% dirname = dirname + params[:id] + "/" %>
       <li><a href=<%= dirname %>><%= params[:id] %></a></li>

       <% dirs = params[:dirs] %>
         <% if dirs != nil %>
         <% dirs.split('/').each do |dir| %>
           <% dirname = dirname + dir + "/" %>
           <li><a href=<%= dirname %>><%= dir %></a></li>
         <% end %>
       <% end %>
  </ol>

  <h3 style="margin-left: 147px">Share File</h3>
  <input type = "file" name = "file_to_share" size = 40 style="margin-left: 147px">

  <div class="container">
  <table class="table">
    <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Modified</th>
            <th>Shared By</th>
          </tr>
        </thead>
        <tbody>
          <% getFoldersFromDirectory("/").each do |file| %>
              <tr>
                <% if file.type == "folder" %>
                  <td><a href=<%= dirname + file.name %>><%= file.name -%></a></td>
                <% else %>
                  <td><a href=""><%= file.name -%></a></td>
                <% end %>
                <td><%= file.type -%></td>
                <td><%= file.modified -%></td>
                <td><%= file.permissions -%></td>
              </tr>
          <% end %>
        </tbody>
  </table>
  </div>