  <table class="table">
    <thead>
          <tr>
            <th>Title</th>
            <th>Details</th>
            <th>Due Date</th>
            <th>Resources</th>
            <th>Completed</th>
          </tr>
        </thead>
        
        <tbody>
          <% getTodoItems("/").each do |item| %>
              <tr>
                <td><%= item.title -%></td>
                <td><%= item.details -%></td>
                <td><%= item.date -%></td>
                
                <td>
                <% if !(item.resources.nil? || item.resources.empty?) -%>
                	  <a href="http://<%= item.resources -%>"><%= item.resources -%></a><br>
                <% end %>
                </td>
                
                <td><label>
                <% if item.completed %>
                  <input type="checkbox" checked>
                <% else %>
                  <input type="checkbox">
                <% end %>
                </label></td>
                
              </tr>
          <% end %>
        </tbody>
  </table>
