<script>
	function createButtonClicked(button) {
		if($("#inputForm").is(":visible")) {
			$("#inputForm").hide();
			button.value = "Add item";
		}
		else {
			$("#inputForm").show();
			button.value = "Hide data";
		}
	}
	function submitItem() {
		title = document.getElementById("title").value;
		details = document.getElementById("details").value;
		due_date = document.getElementById("duedate").value;
		resources = document.getElementById("resources").value;
		
		if(title == "")
			alert("Insert a value for Titles");
		else if(details == "")
			alert("Insert a value for Details");
		else if(due_date == "")
			alert("Insert a value for Due Date");
		else if(resources == "")
			alert("Insert a value for Resources");
		else {
			//$.post("/to-do", {authenticity_token: '<%= form_authenticity_token %>',
			//					title: title, details: details,
			//				duedate: due_date, resources: resources})
		
			document.getElementById("title").value = "";
			document.getElementById("details").value = "";
			document.getElementById("duedate").value = "";
			document.getElementById("resources").value = "";
		}
	}
	
</script>

<body onload="createButtonClicked()">
  <div class="container">
  
  <input type="button" class="btn btn-default" style="margin-top:8px;" id="button" value="Add item" onclick="createButtonClicked(this)"></input>
	<form id="inputForm" name="inputForm" action="/to-do" method="post">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
		<table width=500>
		<tr>
			<th><%= label_tag(:title, "Title") %></th>
			<th><input id="title" name="title" type="text" value=""/></th>
			<th><%= label_tag(:details, "Details") %></th>
			<th><input id="details" name="details" type="text" value=""/></th>
		</tr>
		<tr>
			<th><%= label_tag(:duedate, "Due Date") %></th>
			<th><input id="duedate" name="duedate" type="text" value=""/></th>
			<th><%= label_tag(:Resources, "Resources") %></th>
			<th><input id="resources" name="resources" type="text" value=""/></th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th><%= label_tag(:AsLink, "Resource as link") %></th>
			<th><input type="checkbox" name="link" value="link"></th>
		</tr>
		</table>
		<button type="upload-doc-button" class="btn btn-default" style="margin-top:8px;">Submit</button>
	</div>
  
  <table class="table">
    <thead>
          <tr>
            <th>Title</th>
            <th>Details</th>
            <th>Due Date</th>
            <th>Resources</th>
            <th>Completed</th>
          </tr>
        </thead>
        
        <tbody>
          <% getTodoItems("/").each do |item| %>
              <tr>
                <td><%= item.title -%></td>
                <td><%= item.details -%></td>
                <td><%= item.date -%></td>
                
                <td>
                <% if !(item.resources.nil? || item.resources.empty?) -%>
                	  <a href="http://<%= item.resources -%>"><%= item.resources -%></a><br>
                <% end %>
                </td>
                
                <td><label>
                <% if item.completed %>
                  <input type="checkbox" checked>
                <% else %>
                  <input type="checkbox">
                <% end %>
                </label></td>
                
              </tr>
          <% end %>
        </tbody>
  </table>
