<header>
   <title>BYU Dropbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bootstrap-theme.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap.min.js"></script>

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">BYU Dropbox</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">BYU Dropbox</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Documents", root_path %></li>
          <li class="<%= 'active' if current_page?(shared_path) %>"><%= link_to "Shared With Me", shared_path %></li>
          <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to "User Search", users_path %></li> 
          <li data-no-turbolink class="<%= 'active' if current_page?(calendar_path) %>"><%= link_to "Calendar", calendar_path %></li>
          <li class="<%= 'active' if current_page?("/to-do") %>"><%= link_to "To-Do", "/to-do" %></li>
          <li class="<%= 'active' if current_page?(signin_path) %>"><%= link_to "Signin", signin_path %></li> 

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</header>>